body {
    text-align: center;
    background-color: rgb(243, 202, 241);
    font-family: "Arial", sans-serif;
}

h1{
    color:rgb(236, 85, 98);
}

button{
    padding: 10px;
    font-size:18px;
    background-color: rgb(228, 59, 59);
    color:#ffffff;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

button:hover {
  background-color: #f59595;
}

.result {
  margin: top 20px;;
  font-size: 20px;
}