body {
    text-align: center;
    background-color: rgb(243, 202, 241);
    font-family: "Arial", sans-serif;
}

h1{
    color:rgb(250, 204, 234);
}

button{
    padding: 10px;
    font-size:18px;
    background-color: rgb(228, 59, 59);
    color:#ffffff;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

button:hover {
  background-color: #f58181;
}

.result {
  margin: top 20px;;
  font-size: 20px;
}